:root {
  --main-color: #0acf42;
  --main-shadow-color: #1fcf51c2;
  --back-color: #181818;
  --mid-color: #242424;
  --ligth-color: #5a5a5a;
  --hover-color: #999999;
  --white-color: #fafafa;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: auto;
  height: 100vh;
  color: var(--white-color);
  background-color: var(--back-color);
}