.header {
  padding: 2rem 0 2rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: var(--mid-color);
}

.header > button {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0 0 1.5rem;
  background-color: transparent;
  border: 0rem;
  cursor: pointer;
  color: var(--main-color);
}

.header > ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-left: 2rem;
}

.header > ul > li {
  margin-right: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-color);
}